/*
 css_fabric positioning system
*/
$position_props: absolute relative static fixed sticky;
$display_props: block none inline inline-block inline-flex table table-row
  table-cell table-column unset;



/* css positioning rules */
@each $css_prop in $position_props {
  .#{$css_prop} {
    /* set position value to #{$css_prop}*/
    position: $css_prop;
  }
}



/* css display rules */
@each $display_rule, $index in $display_props {
  .dsp-#{$display_rule} {
    display: $display_rule;
  }
}






