// $cool : vars.$CFG_TABLE_BG_COLOR_STRIP_MAIN;

$CFG_TABLE_PREFIX: table;
$CFG_TABLE_PREFIX_SHORT: tbl;
$CFG_TABLE_BG_COLOR_HEAD: #f4f4f4;
$CFG_TABLE_BG_COLOR_STRIP_MAIN: #ededed;
$CFG_TABLE_BG_COLOR_STRIP_SECOND: #f5f5f5;

$CFG_TABLE_BORDER_COLOR_HEADER: #ccc;
$CFG_TABLE_BORDER_COLOR_MAIN: #ededed;
$CFG_TABLE_BORDER_COLOR_SECOND: #f5f5f5;

@mixin bg_strip($nb_strips) {
  &.#{$CFG_TABLE_PREFIX_SHORT}-bg-strip-#{$nb_strips} {
    @for $nb_strip from 1 through $nb_strips {
      tr:nth-child(#{$nb_strips}n + #{$nb_strip}) td {
        @if ($nb_strip == $nb_strips) {
          background-color: #{$CFG_TABLE_BG_COLOR_STRIP_MAIN};//#{$CFG_TABLE_BG_COLOR_STRIP_MAIN};
        }
        @if (
             $nb_strips%2 == 1 and $nb_strip%2 == 0 and $nb_strips > 2 and $nb_strip != $nb_strips
        ) {
          // border-bottom: 10px solid black;
        }
      }
    }
  }
}

 // try
 // again

@mixin sticky { 
  &.#{$CFG_TABLE_PREFIX_SHORT}-sticky {
    position: relative;
    thead tr {
      position: static;
      th {
        position: sticky;
        top:0;
      }
    }
  }
}

.#{$CFG_TABLE_PREFIX} {
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    position: relative;  
  }

  &.#{$CFG_TABLE_PREFIX_SHORT}-head thead tr th {
    background-color: #{$CFG_TABLE_BG_COLOR_HEAD};
  }

  thead tr th { 
    padding: 0.25em;
  }

  tbody tr td {
    padding: 0.25em;
  }

  &.#{$CFG_TABLE_PREFIX_SHORT}-layout {
    table-layout: fixed;
  }
 
  &.#{$CFG_TABLE_PREFIX_SHORT}-h-line  {
    th, td {

      border-bottom: 1px solid #{$CFG_TABLE_BORDER_COLOR_MAIN};
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &.#{$CFG_TABLE_PREFIX_SHORT}-v-line tr th,
  &.#{$CFG_TABLE_PREFIX_SHORT}-v-line tr td {
    border-right: 1px solid #{$CFG_TABLE_BORDER_COLOR_MAIN};
    &:last-child {
      border-right: none;
    }
  }

  &.#{$CFG_TABLE_PREFIX_SHORT}-border {
    border: 1px solid #{$CFG_TABLE_BORDER_COLOR_MAIN};
  }

  &.#{$CFG_TABLE_PREFIX_SHORT}-shad {
    thead tr th {
      box-shadow: 4px 4px 8px #ccc;
      z-index: 11; 
      &:last-child {
        box-shadow: 4px 4px 8px #ccc;
        z-index: -1;
      }
    }
  }

  @include bg_strip(2);
  @include bg_strip(5);

  @include sticky;
}
