@use '../../utils' as utils;

$_color-primary: orange;
$_declinations-config: (primary, secondary, tertiary);
$_theme-levels: (light lighter dark darker complement invert);
$_theme-properties-apply: (text, bg, border);

$_theme-default-foreground: #333333;
$_theme-default-background: #ededed;

$theme-metadata: (
        "title": "theme",
        "description": ""
);

$_theme-levels-obj: (_ light lighter dark darker complement invert);
$_declinations-config-object: (primary:$_theme-levels-obj, secondary:$_theme-levels-obj, tertiary:$_theme-levels-obj);


$theme-config: (
        moduleName: theme,
        moduleNameShort: theme,
        color-default-config: (
                primary: $_color-primary,
                foreground: #333,
                background: #ededed
        ),
        declinations-config:$_declinations-config,
        theme-level-config:$_theme-levels,
        theme-properties-apply-config:$_theme-properties-apply,
        color: utils.getThemeLevels($_declinations-config, $_color-primary)
);

$theme-docs: (attributes:(
        theme:(
                tag: theme,
                keys: $_theme-properties-apply,
                levels: $_declinations-config-object
        )
));
