@use 'theme-vars';
@use "../cssfabric-vars";
@use '../../_utils';

$theme-config: theme-vars.$theme-config;

// COLOR THEME
$color_themes: map-get($theme-config, color);
$color_primary: map-get($color_themes, primary);

@mixin fabric_theme($mq_size_key: null) {
    //
    @each $color-grade in (primary, secondary, tertiary) {

        $switch-color-grad: map-get(
            (
                primary: $color_primary,
                secondary: complement($color_primary),
                tertiary: complement(complement($color_primary))
            ),
            $color-grade
        );

        @each $sup in (text, bg, border) {
            $property_key: if($mq_size_key, #{$sup}-#{$mq_size_key}, #{$sup});

            $switch-tag: map-get(
                (
                    text: color,
                    bg: background-color,
                    border: border-color
                ),
                $sup
            );

            .theme-#{$property_key}-#{$color-grade} {
                #{$switch-tag}: #{$switch-color-grad};
                &-light {
                    #{$switch-tag}: lighten($switch-color-grad, 30%);
                }
                &-dark {
                    #{$switch-tag}: darken($switch-color-grad, 30%);
                }
                &-hover :hover {
                    #{$switch-tag}: #{$switch-color-grad};
                }
            }
        }
    }
}

@mixin buildTheme($mq_size_key: null) {
    
    @include fabric_theme($mq_size_key);
}
