@use '../../utils' as utils;
@use "../cssfabric-config";


$config: cssfabric-config.$cssfabric-config;

$theme: map-get($config, theme);

$color-primary: map-get($theme, primary) !default;
$color-secondary: map-get($theme, secondary) !default;
$color-tertiary: map-get($theme, tertiary) !default;

$_foreground: map-get($theme, foreground) !default;
$_background: map-get($theme, background) !default;

$_declinations-config: (primary, secondary, tertiary);
$themeii: (primary: $color-primary, secondary:$color-secondary, tertiary:$color-tertiary);

$_theme-levels: (light lighter dark darker complement invert);
$_theme-properties-apply: (text, bg, border);


$theme-metadata: (
        "title": "theme",
        "description": ""
);

$_theme-levels-obj: (_ light lighter dark darker complement invert);
$_declinations-config-object: (primary:$_theme-levels-obj, secondary:$_theme-levels-obj, tertiary:$_theme-levels-obj);


$theme-config: (
        moduleName: theme,
        moduleNameShort: theme,
        color-default-config: (
                primary: $color-primary,
                secondary: $color-secondary,
                tertiary: $color-tertiary,
                foreground: $_foreground,
                background: $_background
        ),
        declinations-config:$_declinations-config,
        theme-level-config:$_theme-levels,
        theme-properties-apply-config:$_theme-properties-apply,
        // primary secondary tertiary
        color: utils.getThemeLevels($themeii, $color-primary)
);

$theme-docs: (attributes:(
        theme:(
                tag: theme,
                keys: $_theme-properties-apply,
                levels: $_declinations-config-object
        )
));
