$animation-metadata: ();
$animation-config: (
    attention_props: (),
    in_out_props: (
        back: (),
        bounce: (),
        slide: (),
        fade: (),
        zoom: (),
    ),
);
$animation-docs: (
    attention_props: "",
    in_out_props: "",
);
