$table-metadata: (
    title: table,
    tag: table,
    description: "cssfabric table module to set different table styles"
);
$table-config: (
    className: table,
    classNameShort: tbl, 
    table_class_name: table,
    table_class_name_short: tbl,  
    table-bg-color-head: #f4f4f4,
    table-bg-color-strip-main: #ededed,
    table-bg-color-strip-second: #f5f5f5,
    table-border-color-header: #ccc,
    table-border-color-main: #ededed,
    table-border-color-second: #f5f5f5
);
$table-docs: ();
