/* Error: Only 1 argument allowed, but 3 were passed.
 *    ,--> css-fabric\modules\scale\scale.scss
 * 130| /     @include utils.responsive_encloser(
 * 131| |       $mq_size_key,
 * 132| |       $mq_size_value,
 * 133| |       $scale_prop
 * 134| |     ) {
 *    | '-----^ invocation
 *    '
 *    ,--> css-fabric\_utils.scss
 * 52 |   @mixin responsive_encloser($mq_size_value) {
 *    |          =================================== declaration
 *    '
 *   css-fabric\modules\scale\scale.scss 130:5               responsive-encloser()
 *   css-fabric\modules\scale\scale.scss 130:5               @use
 *   css-fabric\_generated\css-fabric.scss-imports.scss 5:2  @import
 *   css-fabric\modules\_imports.scss 1:9                    @use
 *   css-fabric\modules\css-fabric.scss 3:1                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 1 argument allowed, but 3 were passed.\a    \250c \2500 \2500 > css-fabric\\modules\\scale\\scale.scss\a 130\2502  \250c      @include utils.responsive_encloser(\a 131\2502  \2502        $mq_size_key,\a 132\2502  \2502        $mq_size_value,\a 133\2502  \2502        $scale_prop\a 134\2502  \2502      ) {\a    \2502  \2514 \2500 \2500 \2500 \2500 \2500 ^ invocation\a    \2575 \a    \250c \2500 \2500 > css-fabric\\_utils.scss\a 52 \2502    @mixin responsive_encloser($mq_size_value) {\d\a    \2502           \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   css-fabric\\modules\\scale\\scale.scss 130:5               responsive-encloser()\a   css-fabric\\modules\\scale\\scale.scss 130:5               @use\a   css-fabric\\_generated\\css-fabric.scss-imports.scss 5:2  @import\a   css-fabric\\modules\\_imports.scss 1:9                    @use\a   css-fabric\\modules\\css-fabric.scss 3:1                  root stylesheet";
}
