/*
* css-fabric 
* padding, margin and border system
*/
.brd-t, .brd-t-1 {
  /* border-t rule : set 0.25em size for top border.  */
  border-top: 0.25em solid #ededed;
}
.brd-t-2 {
  /* border-t rule : set 0.5em size for top border.  */
  border-top: 0.5em solid #ededed;
}
.brd-t-3 {
  /* border-t rule : set 0.75em size for top border.  */
  border-top: 0.75em solid #ededed;
}
.brd-t-4 {
  /* border-t rule : set 1em size for top border.  */
  border-top: 1em solid #ededed;
}
.brd-t-5 {
  /* border-t rule : set 1.25em size for top border.  */
  border-top: 1.25em solid #ededed;
}
.brd-t-6 {
  /* border-t rule : set 1.5em size for top border.  */
  border-top: 1.5em solid #ededed;
}
.brd-t-7 {
  /* border-t rule : set 1.75em size for top border.  */
  border-top: 1.75em solid #ededed;
}
.brd-t-8 {
  /* border-t rule : set 2em size for top border.  */
  border-top: 2em solid #ededed;
}

.brd-b, .brd-b-1 {
  /* border-b rule : set 0.25em size for bottom border.  */
  border-bottom: 0.25em solid #ededed;
}
.brd-b-2 {
  /* border-b rule : set 0.5em size for bottom border.  */
  border-bottom: 0.5em solid #ededed;
}
.brd-b-3 {
  /* border-b rule : set 0.75em size for bottom border.  */
  border-bottom: 0.75em solid #ededed;
}
.brd-b-4 {
  /* border-b rule : set 1em size for bottom border.  */
  border-bottom: 1em solid #ededed;
}
.brd-b-5 {
  /* border-b rule : set 1.25em size for bottom border.  */
  border-bottom: 1.25em solid #ededed;
}
.brd-b-6 {
  /* border-b rule : set 1.5em size for bottom border.  */
  border-bottom: 1.5em solid #ededed;
}
.brd-b-7 {
  /* border-b rule : set 1.75em size for bottom border.  */
  border-bottom: 1.75em solid #ededed;
}
.brd-b-8 {
  /* border-b rule : set 2em size for bottom border.  */
  border-bottom: 2em solid #ededed;
}

.brd-l, .brd-l-1 {
  /* border-l rule : set 0.25em size for left border.  */
  border-left: 0.25em solid #ededed;
}
.brd-l-2 {
  /* border-l rule : set 0.5em size for left border.  */
  border-left: 0.5em solid #ededed;
}
.brd-l-3 {
  /* border-l rule : set 0.75em size for left border.  */
  border-left: 0.75em solid #ededed;
}
.brd-l-4 {
  /* border-l rule : set 1em size for left border.  */
  border-left: 1em solid #ededed;
}
.brd-l-5 {
  /* border-l rule : set 1.25em size for left border.  */
  border-left: 1.25em solid #ededed;
}
.brd-l-6 {
  /* border-l rule : set 1.5em size for left border.  */
  border-left: 1.5em solid #ededed;
}
.brd-l-7 {
  /* border-l rule : set 1.75em size for left border.  */
  border-left: 1.75em solid #ededed;
}
.brd-l-8 {
  /* border-l rule : set 2em size for left border.  */
  border-left: 2em solid #ededed;
}

.brd-r, .brd-r-1 {
  /* border-r rule : set 0.25em size for right border.  */
  border-right: 0.25em solid #ededed;
}
.brd-r-2 {
  /* border-r rule : set 0.5em size for right border.  */
  border-right: 0.5em solid #ededed;
}
.brd-r-3 {
  /* border-r rule : set 0.75em size for right border.  */
  border-right: 0.75em solid #ededed;
}
.brd-r-4 {
  /* border-r rule : set 1em size for right border.  */
  border-right: 1em solid #ededed;
}
.brd-r-5 {
  /* border-r rule : set 1.25em size for right border.  */
  border-right: 1.25em solid #ededed;
}
.brd-r-6 {
  /* border-r rule : set 1.5em size for right border.  */
  border-right: 1.5em solid #ededed;
}
.brd-r-7 {
  /* border-r rule : set 1.75em size for right border.  */
  border-right: 1.75em solid #ededed;
}
.brd-r-8 {
  /* border-r rule : set 2em size for right border.  */
  border-right: 2em solid #ededed;
}

.brd-all, .brd-all-1 {
  /* border-all rule : set 0.25em size for top bottom left right border.  */
  border-top: 0.25em solid #ededed;
  border-bottom: 0.25em solid #ededed;
  border-left: 0.25em solid #ededed;
  border-right: 0.25em solid #ededed;
}
.brd-all-2 {
  /* border-all rule : set 0.5em size for top bottom left right border.  */
  border-top: 0.5em solid #ededed;
  border-bottom: 0.5em solid #ededed;
  border-left: 0.5em solid #ededed;
  border-right: 0.5em solid #ededed;
}
.brd-all-3 {
  /* border-all rule : set 0.75em size for top bottom left right border.  */
  border-top: 0.75em solid #ededed;
  border-bottom: 0.75em solid #ededed;
  border-left: 0.75em solid #ededed;
  border-right: 0.75em solid #ededed;
}
.brd-all-4 {
  /* border-all rule : set 1em size for top bottom left right border.  */
  border-top: 1em solid #ededed;
  border-bottom: 1em solid #ededed;
  border-left: 1em solid #ededed;
  border-right: 1em solid #ededed;
}
.brd-all-5 {
  /* border-all rule : set 1.25em size for top bottom left right border.  */
  border-top: 1.25em solid #ededed;
  border-bottom: 1.25em solid #ededed;
  border-left: 1.25em solid #ededed;
  border-right: 1.25em solid #ededed;
}
.brd-all-6 {
  /* border-all rule : set 1.5em size for top bottom left right border.  */
  border-top: 1.5em solid #ededed;
  border-bottom: 1.5em solid #ededed;
  border-left: 1.5em solid #ededed;
  border-right: 1.5em solid #ededed;
}
.brd-all-7 {
  /* border-all rule : set 1.75em size for top bottom left right border.  */
  border-top: 1.75em solid #ededed;
  border-bottom: 1.75em solid #ededed;
  border-left: 1.75em solid #ededed;
  border-right: 1.75em solid #ededed;
}
.brd-all-8 {
  /* border-all rule : set 2em size for top bottom left right border.  */
  border-top: 2em solid #ededed;
  border-bottom: 2em solid #ededed;
  border-left: 2em solid #ededed;
  border-right: 2em solid #ededed;
}

.brd-u, .brd-u-1 {
  /* border-u rule : set 0.25em size for bottom left right border.  */
  border-bottom: 0.25em solid #ededed;
  border-left: 0.25em solid #ededed;
  border-right: 0.25em solid #ededed;
}
.brd-u-2 {
  /* border-u rule : set 0.5em size for bottom left right border.  */
  border-bottom: 0.5em solid #ededed;
  border-left: 0.5em solid #ededed;
  border-right: 0.5em solid #ededed;
}
.brd-u-3 {
  /* border-u rule : set 0.75em size for bottom left right border.  */
  border-bottom: 0.75em solid #ededed;
  border-left: 0.75em solid #ededed;
  border-right: 0.75em solid #ededed;
}
.brd-u-4 {
  /* border-u rule : set 1em size for bottom left right border.  */
  border-bottom: 1em solid #ededed;
  border-left: 1em solid #ededed;
  border-right: 1em solid #ededed;
}
.brd-u-5 {
  /* border-u rule : set 1.25em size for bottom left right border.  */
  border-bottom: 1.25em solid #ededed;
  border-left: 1.25em solid #ededed;
  border-right: 1.25em solid #ededed;
}
.brd-u-6 {
  /* border-u rule : set 1.5em size for bottom left right border.  */
  border-bottom: 1.5em solid #ededed;
  border-left: 1.5em solid #ededed;
  border-right: 1.5em solid #ededed;
}
.brd-u-7 {
  /* border-u rule : set 1.75em size for bottom left right border.  */
  border-bottom: 1.75em solid #ededed;
  border-left: 1.75em solid #ededed;
  border-right: 1.75em solid #ededed;
}
.brd-u-8 {
  /* border-u rule : set 2em size for bottom left right border.  */
  border-bottom: 2em solid #ededed;
  border-left: 2em solid #ededed;
  border-right: 2em solid #ededed;
}

.brd-ii, .brd-ii-1 {
  /* border-ii rule : set 0.25em size for left right border.  */
  border-left: 0.25em solid #ededed;
  border-right: 0.25em solid #ededed;
}
.brd-ii-2 {
  /* border-ii rule : set 0.5em size for left right border.  */
  border-left: 0.5em solid #ededed;
  border-right: 0.5em solid #ededed;
}
.brd-ii-3 {
  /* border-ii rule : set 0.75em size for left right border.  */
  border-left: 0.75em solid #ededed;
  border-right: 0.75em solid #ededed;
}
.brd-ii-4 {
  /* border-ii rule : set 1em size for left right border.  */
  border-left: 1em solid #ededed;
  border-right: 1em solid #ededed;
}
.brd-ii-5 {
  /* border-ii rule : set 1.25em size for left right border.  */
  border-left: 1.25em solid #ededed;
  border-right: 1.25em solid #ededed;
}
.brd-ii-6 {
  /* border-ii rule : set 1.5em size for left right border.  */
  border-left: 1.5em solid #ededed;
  border-right: 1.5em solid #ededed;
}
.brd-ii-7 {
  /* border-ii rule : set 1.75em size for left right border.  */
  border-left: 1.75em solid #ededed;
  border-right: 1.75em solid #ededed;
}
.brd-ii-8 {
  /* border-ii rule : set 2em size for left right border.  */
  border-left: 2em solid #ededed;
  border-right: 2em solid #ededed;
}

.brd-tb, .brd-tb-1 {
  /* border-tb rule : set 0.25em size for top bottom border.  */
  border-top: 0.25em solid #ededed;
  border-bottom: 0.25em solid #ededed;
}
.brd-tb-2 {
  /* border-tb rule : set 0.5em size for top bottom border.  */
  border-top: 0.5em solid #ededed;
  border-bottom: 0.5em solid #ededed;
}
.brd-tb-3 {
  /* border-tb rule : set 0.75em size for top bottom border.  */
  border-top: 0.75em solid #ededed;
  border-bottom: 0.75em solid #ededed;
}
.brd-tb-4 {
  /* border-tb rule : set 1em size for top bottom border.  */
  border-top: 1em solid #ededed;
  border-bottom: 1em solid #ededed;
}
.brd-tb-5 {
  /* border-tb rule : set 1.25em size for top bottom border.  */
  border-top: 1.25em solid #ededed;
  border-bottom: 1.25em solid #ededed;
}
.brd-tb-6 {
  /* border-tb rule : set 1.5em size for top bottom border.  */
  border-top: 1.5em solid #ededed;
  border-bottom: 1.5em solid #ededed;
}
.brd-tb-7 {
  /* border-tb rule : set 1.75em size for top bottom border.  */
  border-top: 1.75em solid #ededed;
  border-bottom: 1.75em solid #ededed;
}
.brd-tb-8 {
  /* border-tb rule : set 2em size for top bottom border.  */
  border-top: 2em solid #ededed;
  border-bottom: 2em solid #ededed;
}

.pad-t, .pad-t-1 {
  /* padding-t rule : set 0.25em size for top padding.  */
  padding-top: 0.25em;
}
.pad-t-2 {
  /* padding-t rule : set 0.5em size for top padding.  */
  padding-top: 0.5em;
}
.pad-t-3 {
  /* padding-t rule : set 0.75em size for top padding.  */
  padding-top: 0.75em;
}
.pad-t-4 {
  /* padding-t rule : set 1em size for top padding.  */
  padding-top: 1em;
}
.pad-t-5 {
  /* padding-t rule : set 1.25em size for top padding.  */
  padding-top: 1.25em;
}
.pad-t-6 {
  /* padding-t rule : set 1.5em size for top padding.  */
  padding-top: 1.5em;
}
.pad-t-7 {
  /* padding-t rule : set 1.75em size for top padding.  */
  padding-top: 1.75em;
}
.pad-t-8 {
  /* padding-t rule : set 2em size for top padding.  */
  padding-top: 2em;
}

.pad-b, .pad-b-1 {
  /* padding-b rule : set 0.25em size for bottom padding.  */
  padding-bottom: 0.25em;
}
.pad-b-2 {
  /* padding-b rule : set 0.5em size for bottom padding.  */
  padding-bottom: 0.5em;
}
.pad-b-3 {
  /* padding-b rule : set 0.75em size for bottom padding.  */
  padding-bottom: 0.75em;
}
.pad-b-4 {
  /* padding-b rule : set 1em size for bottom padding.  */
  padding-bottom: 1em;
}
.pad-b-5 {
  /* padding-b rule : set 1.25em size for bottom padding.  */
  padding-bottom: 1.25em;
}
.pad-b-6 {
  /* padding-b rule : set 1.5em size for bottom padding.  */
  padding-bottom: 1.5em;
}
.pad-b-7 {
  /* padding-b rule : set 1.75em size for bottom padding.  */
  padding-bottom: 1.75em;
}
.pad-b-8 {
  /* padding-b rule : set 2em size for bottom padding.  */
  padding-bottom: 2em;
}

.pad-l, .pad-l-1 {
  /* padding-l rule : set 0.25em size for left padding.  */
  padding-left: 0.25em;
}
.pad-l-2 {
  /* padding-l rule : set 0.5em size for left padding.  */
  padding-left: 0.5em;
}
.pad-l-3 {
  /* padding-l rule : set 0.75em size for left padding.  */
  padding-left: 0.75em;
}
.pad-l-4 {
  /* padding-l rule : set 1em size for left padding.  */
  padding-left: 1em;
}
.pad-l-5 {
  /* padding-l rule : set 1.25em size for left padding.  */
  padding-left: 1.25em;
}
.pad-l-6 {
  /* padding-l rule : set 1.5em size for left padding.  */
  padding-left: 1.5em;
}
.pad-l-7 {
  /* padding-l rule : set 1.75em size for left padding.  */
  padding-left: 1.75em;
}
.pad-l-8 {
  /* padding-l rule : set 2em size for left padding.  */
  padding-left: 2em;
}

.pad-r, .pad-r-1 {
  /* padding-r rule : set 0.25em size for right padding.  */
  padding-right: 0.25em;
}
.pad-r-2 {
  /* padding-r rule : set 0.5em size for right padding.  */
  padding-right: 0.5em;
}
.pad-r-3 {
  /* padding-r rule : set 0.75em size for right padding.  */
  padding-right: 0.75em;
}
.pad-r-4 {
  /* padding-r rule : set 1em size for right padding.  */
  padding-right: 1em;
}
.pad-r-5 {
  /* padding-r rule : set 1.25em size for right padding.  */
  padding-right: 1.25em;
}
.pad-r-6 {
  /* padding-r rule : set 1.5em size for right padding.  */
  padding-right: 1.5em;
}
.pad-r-7 {
  /* padding-r rule : set 1.75em size for right padding.  */
  padding-right: 1.75em;
}
.pad-r-8 {
  /* padding-r rule : set 2em size for right padding.  */
  padding-right: 2em;
}

.pad-all, .pad-all-1 {
  /* padding-all rule : set 0.25em size for top bottom left right padding.  */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.pad-all-2 {
  /* padding-all rule : set 0.5em size for top bottom left right padding.  */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.pad-all-3 {
  /* padding-all rule : set 0.75em size for top bottom left right padding.  */
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.pad-all-4 {
  /* padding-all rule : set 1em size for top bottom left right padding.  */
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.pad-all-5 {
  /* padding-all rule : set 1.25em size for top bottom left right padding.  */
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.pad-all-6 {
  /* padding-all rule : set 1.5em size for top bottom left right padding.  */
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.pad-all-7 {
  /* padding-all rule : set 1.75em size for top bottom left right padding.  */
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
}
.pad-all-8 {
  /* padding-all rule : set 2em size for top bottom left right padding.  */
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.pad-u, .pad-u-1 {
  /* padding-u rule : set 0.25em size for bottom left right padding.  */
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.pad-u-2 {
  /* padding-u rule : set 0.5em size for bottom left right padding.  */
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.pad-u-3 {
  /* padding-u rule : set 0.75em size for bottom left right padding.  */
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.pad-u-4 {
  /* padding-u rule : set 1em size for bottom left right padding.  */
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.pad-u-5 {
  /* padding-u rule : set 1.25em size for bottom left right padding.  */
  padding-bottom: 1.25em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.pad-u-6 {
  /* padding-u rule : set 1.5em size for bottom left right padding.  */
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.pad-u-7 {
  /* padding-u rule : set 1.75em size for bottom left right padding.  */
  padding-bottom: 1.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;
}
.pad-u-8 {
  /* padding-u rule : set 2em size for bottom left right padding.  */
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.pad-ii, .pad-ii-1 {
  /* padding-ii rule : set 0.25em size for left right padding.  */
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.pad-ii-2 {
  /* padding-ii rule : set 0.5em size for left right padding.  */
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.pad-ii-3 {
  /* padding-ii rule : set 0.75em size for left right padding.  */
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.pad-ii-4 {
  /* padding-ii rule : set 1em size for left right padding.  */
  padding-left: 1em;
  padding-right: 1em;
}
.pad-ii-5 {
  /* padding-ii rule : set 1.25em size for left right padding.  */
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.pad-ii-6 {
  /* padding-ii rule : set 1.5em size for left right padding.  */
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.pad-ii-7 {
  /* padding-ii rule : set 1.75em size for left right padding.  */
  padding-left: 1.75em;
  padding-right: 1.75em;
}
.pad-ii-8 {
  /* padding-ii rule : set 2em size for left right padding.  */
  padding-left: 2em;
  padding-right: 2em;
}

.pad-tb, .pad-tb-1 {
  /* padding-tb rule : set 0.25em size for top bottom padding.  */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.pad-tb-2 {
  /* padding-tb rule : set 0.5em size for top bottom padding.  */
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.pad-tb-3 {
  /* padding-tb rule : set 0.75em size for top bottom padding.  */
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.pad-tb-4 {
  /* padding-tb rule : set 1em size for top bottom padding.  */
  padding-top: 1em;
  padding-bottom: 1em;
}
.pad-tb-5 {
  /* padding-tb rule : set 1.25em size for top bottom padding.  */
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.pad-tb-6 {
  /* padding-tb rule : set 1.5em size for top bottom padding.  */
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.pad-tb-7 {
  /* padding-tb rule : set 1.75em size for top bottom padding.  */
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}
.pad-tb-8 {
  /* padding-tb rule : set 2em size for top bottom padding.  */
  padding-top: 2em;
  padding-bottom: 2em;
}

.marg-t, .marg-t-1 {
  /* margin-t rule : set 0.25em size for top margin.  */
  margin-top: 0.25em;
}
.marg-t-2 {
  /* margin-t rule : set 0.5em size for top margin.  */
  margin-top: 0.5em;
}
.marg-t-3 {
  /* margin-t rule : set 0.75em size for top margin.  */
  margin-top: 0.75em;
}
.marg-t-4 {
  /* margin-t rule : set 1em size for top margin.  */
  margin-top: 1em;
}
.marg-t-5 {
  /* margin-t rule : set 1.25em size for top margin.  */
  margin-top: 1.25em;
}
.marg-t-6 {
  /* margin-t rule : set 1.5em size for top margin.  */
  margin-top: 1.5em;
}
.marg-t-7 {
  /* margin-t rule : set 1.75em size for top margin.  */
  margin-top: 1.75em;
}
.marg-t-8 {
  /* margin-t rule : set 2em size for top margin.  */
  margin-top: 2em;
}

.marg-b, .marg-b-1 {
  /* margin-b rule : set 0.25em size for bottom margin.  */
  margin-bottom: 0.25em;
}
.marg-b-2 {
  /* margin-b rule : set 0.5em size for bottom margin.  */
  margin-bottom: 0.5em;
}
.marg-b-3 {
  /* margin-b rule : set 0.75em size for bottom margin.  */
  margin-bottom: 0.75em;
}
.marg-b-4 {
  /* margin-b rule : set 1em size for bottom margin.  */
  margin-bottom: 1em;
}
.marg-b-5 {
  /* margin-b rule : set 1.25em size for bottom margin.  */
  margin-bottom: 1.25em;
}
.marg-b-6 {
  /* margin-b rule : set 1.5em size for bottom margin.  */
  margin-bottom: 1.5em;
}
.marg-b-7 {
  /* margin-b rule : set 1.75em size for bottom margin.  */
  margin-bottom: 1.75em;
}
.marg-b-8 {
  /* margin-b rule : set 2em size for bottom margin.  */
  margin-bottom: 2em;
}

.marg-l, .marg-l-1 {
  /* margin-l rule : set 0.25em size for left margin.  */
  margin-left: 0.25em;
}
.marg-l-2 {
  /* margin-l rule : set 0.5em size for left margin.  */
  margin-left: 0.5em;
}
.marg-l-3 {
  /* margin-l rule : set 0.75em size for left margin.  */
  margin-left: 0.75em;
}
.marg-l-4 {
  /* margin-l rule : set 1em size for left margin.  */
  margin-left: 1em;
}
.marg-l-5 {
  /* margin-l rule : set 1.25em size for left margin.  */
  margin-left: 1.25em;
}
.marg-l-6 {
  /* margin-l rule : set 1.5em size for left margin.  */
  margin-left: 1.5em;
}
.marg-l-7 {
  /* margin-l rule : set 1.75em size for left margin.  */
  margin-left: 1.75em;
}
.marg-l-8 {
  /* margin-l rule : set 2em size for left margin.  */
  margin-left: 2em;
}

.marg-r, .marg-r-1 {
  /* margin-r rule : set 0.25em size for right margin.  */
  margin-right: 0.25em;
}
.marg-r-2 {
  /* margin-r rule : set 0.5em size for right margin.  */
  margin-right: 0.5em;
}
.marg-r-3 {
  /* margin-r rule : set 0.75em size for right margin.  */
  margin-right: 0.75em;
}
.marg-r-4 {
  /* margin-r rule : set 1em size for right margin.  */
  margin-right: 1em;
}
.marg-r-5 {
  /* margin-r rule : set 1.25em size for right margin.  */
  margin-right: 1.25em;
}
.marg-r-6 {
  /* margin-r rule : set 1.5em size for right margin.  */
  margin-right: 1.5em;
}
.marg-r-7 {
  /* margin-r rule : set 1.75em size for right margin.  */
  margin-right: 1.75em;
}
.marg-r-8 {
  /* margin-r rule : set 2em size for right margin.  */
  margin-right: 2em;
}

.marg-all, .marg-all-1 {
  /* margin-all rule : set 0.25em size for top bottom left right margin.  */
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.marg-all-2 {
  /* margin-all rule : set 0.5em size for top bottom left right margin.  */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.marg-all-3 {
  /* margin-all rule : set 0.75em size for top bottom left right margin.  */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
.marg-all-4 {
  /* margin-all rule : set 1em size for top bottom left right margin.  */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.marg-all-5 {
  /* margin-all rule : set 1.25em size for top bottom left right margin.  */
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  margin-right: 1.25em;
}
.marg-all-6 {
  /* margin-all rule : set 1.5em size for top bottom left right margin.  */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.marg-all-7 {
  /* margin-all rule : set 1.75em size for top bottom left right margin.  */
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  margin-left: 1.75em;
  margin-right: 1.75em;
}
.marg-all-8 {
  /* margin-all rule : set 2em size for top bottom left right margin.  */
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.marg-u, .marg-u-1 {
  /* margin-u rule : set 0.25em size for bottom left right margin.  */
  margin-bottom: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.marg-u-2 {
  /* margin-u rule : set 0.5em size for bottom left right margin.  */
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.marg-u-3 {
  /* margin-u rule : set 0.75em size for bottom left right margin.  */
  margin-bottom: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
.marg-u-4 {
  /* margin-u rule : set 1em size for bottom left right margin.  */
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.marg-u-5 {
  /* margin-u rule : set 1.25em size for bottom left right margin.  */
  margin-bottom: 1.25em;
  margin-left: 1.25em;
  margin-right: 1.25em;
}
.marg-u-6 {
  /* margin-u rule : set 1.5em size for bottom left right margin.  */
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.marg-u-7 {
  /* margin-u rule : set 1.75em size for bottom left right margin.  */
  margin-bottom: 1.75em;
  margin-left: 1.75em;
  margin-right: 1.75em;
}
.marg-u-8 {
  /* margin-u rule : set 2em size for bottom left right margin.  */
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.marg-ii, .marg-ii-1 {
  /* margin-ii rule : set 0.25em size for left right margin.  */
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.marg-ii-2 {
  /* margin-ii rule : set 0.5em size for left right margin.  */
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.marg-ii-3 {
  /* margin-ii rule : set 0.75em size for left right margin.  */
  margin-left: 0.75em;
  margin-right: 0.75em;
}
.marg-ii-4 {
  /* margin-ii rule : set 1em size for left right margin.  */
  margin-left: 1em;
  margin-right: 1em;
}
.marg-ii-5 {
  /* margin-ii rule : set 1.25em size for left right margin.  */
  margin-left: 1.25em;
  margin-right: 1.25em;
}
.marg-ii-6 {
  /* margin-ii rule : set 1.5em size for left right margin.  */
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.marg-ii-7 {
  /* margin-ii rule : set 1.75em size for left right margin.  */
  margin-left: 1.75em;
  margin-right: 1.75em;
}
.marg-ii-8 {
  /* margin-ii rule : set 2em size for left right margin.  */
  margin-left: 2em;
  margin-right: 2em;
}

.marg-tb, .marg-tb-1 {
  /* margin-tb rule : set 0.25em size for top bottom margin.  */
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.marg-tb-2 {
  /* margin-tb rule : set 0.5em size for top bottom margin.  */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.marg-tb-3 {
  /* margin-tb rule : set 0.75em size for top bottom margin.  */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.marg-tb-4 {
  /* margin-tb rule : set 1em size for top bottom margin.  */
  margin-top: 1em;
  margin-bottom: 1em;
}
.marg-tb-5 {
  /* margin-tb rule : set 1.25em size for top bottom margin.  */
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.marg-tb-6 {
  /* margin-tb rule : set 1.5em size for top bottom margin.  */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.marg-tb-7 {
  /* margin-tb rule : set 1.75em size for top bottom margin.  */
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}
.marg-tb-8 {
  /* margin-tb rule : set 2em size for top bottom margin.  */
  margin-top: 2em;
  margin-bottom: 2em;
}

/* css positioning rules */
.absolute {
  /* set position value to absolute*/
  position: absolute;
}

.relative {
  /* set position value to relative*/
  position: relative;
}

.static {
  /* set position value to static*/
  position: static;
}

.fixed {
  /* set position value to fixed*/
  position: fixed;
}

.sticky {
  /* set position value to sticky*/
  position: sticky;
}

/* css display rules */
.dsp-block {
  display: block;
}

.dsp-none {
  display: none;
}

.dsp-inline {
  display: inline;
}

.dsp-inline-block {
  display: inline-block;
}

.dsp-inline-flex {
  display: inline-flex;
}

.dsp-table {
  display: table;
}

.dsp-table-row {
  display: table-row;
}

.dsp-table-cell {
  display: table-cell;
}

.dsp-table-column {
  display: table-column;
}

.dsp-unset {
  display: unset;
}

/*# sourceMappingURL=box.css.map */
