$grid-metadata: (
    title: grid,
    tag: grid,
    description: "cssfabric grid module"
);
$grid-config: (
    grid_class_name: grid,
    grid_class_name_short: grid,
    grid_separator: "-",
    grid_hor_code: h,
    grid_vert_code: v
);
$grid-docs: (
    grid_separator: "",
    grid_hor_code: "",
    grid_vert_code: ""
);
