@use '../../utils';


$_grow-shrink-steps: 4;


$_grid-align: (top middle bottom left right center);

$_classNames: (
        wrap-reverse: wrap-reverse,
        wrap: wrap,
        nowrap: nowrap
);

$_cssProps: (
        flexWrap: (
                wrap-reverse: wrap-reverse,
                wrap: wrap,
                nowrap: nowrap
        ),
        grid-justify: (
                start: flex-start,
                end: flex-end,
                between: space-between,
                stretch: stretch,
                center: flex-center
        ),
        grid-items: (
                baseline: baseline,
                stretch: stretch,
                start: flex-start,
                center: center,
                end: flex-end
        ),
        grid-content: (
                start: flex-start,
                center: center,
                end: flex-end,
                between: space-between,
                equal: space-evenly
        )
);

$_cssItemsProps: (
        self: (
                auto: auto,
                start: flex-start,
                end: flex-end,
                center: flex-center,
                baseline: baseline,
                stretch: stretch
        )
);

$grid-metadata: (
        title: "grid",
        tag: "grid",
        description: "cssfabric flex grid system module"
);

$grid-config: (
        moduleName: grid,
        moduleNameShort: grid,
        horCode: h,
        vertCode: v,
        gridFullWidth: main,
        grow-shrink-steps:$_grow-shrink-steps,
        cssProps: $_cssProps,
        cssItemsProps: $_cssItemsProps
);

$grid-docs: (// add align-middle non generated className // grow + shrink
        attributes:(
                grid:(
                        tag: grid,
                        keys: (w, h),
                        classNames: (
                                grid:utils.getObjectKeys(map-get($_cssProps, flexWrap)), // inline !
                                grid-align: $_grid-align,
                                grid-items: utils.getObjectKeys(map-get($_cssProps, grid-items)),
                                grid-content:utils.getObjectKeys(map-get($_cssProps, grid-content)),
                                grid-justify:utils.getObjectKeys(map-get($_cssProps, grid-justify))
                        ),
                        about: "a so classic grid system, and hey, it gets height !"
                ),
                self:(
                        tag: self,
                        keys: utils.getObjectKeys(map-get($_cssItemsProps, self)),
                        about: "grid children specific classnames"
                )
        )
);
