/*
* css-fabric 
* padding, margin and border system
*/

// load scss config file 
@use '../../_utils';  
// load general config variables  
$_cfg: utils.get_conf(); 
// load local config variables 
$_box: utils.get_conf_data(box);  
 
// read variables
$box_unit: map-get($_box, box_unit);       
$box_unit_size: map-get($_box, box_unit_size);  
$box_sizes: map-get($_box, box_sizes);   
 
$box_css_props_shorthands: map-get($_box, box_css_props_shorthands);
$box_side_shorthands: map-get($_box, box_border_shorthands);

$box_position_props: map-get($_box, box_position_props);
$box_display_props: map-get($_box, box_display_props);   


// adding {border}-{r} shorthand css rule for .{border}-{r}-1
@function raw_size_tag_rule($condition) {
  @if ($condition == 1) {
    @return "&,";
  } @else {
    @return ""; 
  }    
}    

// css border rules builder
@mixin css_border_property_builder($css_prop, $grid_key, $rule, $size_value) {
  // concatenate "-with" to property name when property is "border"
  $final_rule: if($css_prop== border, null, null);
  $suffix_rule: if($css_prop== border, solid #ededed, null);

  @each $grid_size_value in $rule { 
    #{$css_prop}-#{$grid_size_value}#{$final_rule}: $size_value $suffix_rule;
  }
} 
 
// loop trough padding margin ...
@each $css_prop, $css_prop_short in $box_css_props_shorthands {
  @each $grid_key, $rule in $box_side_shorthands {
    // css property name 
    .#{$css_prop_short}-#{$grid_key} {
      @for $grid_size_value from 1 through $box_sizes {
        $css_size_value: ($grid_size_value * $box_unit_size) + $box_unit;
        // css property name is aggregated with size value $i
        #{raw_size_tag_rule($grid_size_value)} &-#{$grid_size_value} {
          /* #{$css_prop}-#{$grid_key} rule : set #{$css_size_value} size for #{$rule} #{$css_prop}.  */
          @include css_border_property_builder(
            $css_prop,
            $grid_key,
            $rule,
            $css_size_value
          );
        }
      }
    }
  }
}

/* css positioning rules */
@each $css_prop in $box_position_props {
  .#{$css_prop} {
    /* set position value to #{$css_prop}*/
    position: $css_prop;
  }
}

/* css display rules */
@each $display_rule, $index in $box_display_props {
  .dsp-#{$display_rule} {
    display: $display_rule;
  }
}
