@use '../../_utils';

$base-metadata: (
    title: "base",
    tag: "base",
    description: "cssfabric base config variables"
);

$base-config: (
    cfg-has-dimension-strict: true,
    CFG_HAS_DIMENSION_MIN: true,
    CFG_HAS_DIMENSION_MAX: true,
    size_step: 0.5rem,
    sizes: utils.get_fabric_conf(sizes)
);

$base-docs: ();
