$base-metadata: (
    title: base,
    tag: base,
    description: "cssfabric global config variables"
);

$base-config: (
    cfg-has-dimension-strict: true,
    CFG_HAS_DIMENSION_MIN: true,
    CFG_HAS_DIMENSION_MAX: true,
    table_class_name: table,
    table_class_name_short: tbl,
    text_class_name: text,
    text_class_name_short: txt,
    menu_class_name: menu,
    menu_class_name_short: ul,
    size_step: 0.25rem,
    sizes: (
        tiny: "",
        small: 64,
        medium: 120,
        large: 250,
        full: 100%
    ),
    media_quey_sizes: (
        xxl: 140,
        xl: 80,
        lg: 64,
        md: 48,
        sm: 35.7
    ),
    color_schemes_props: (
        info: yellow,
        alert: orange,
        error: red,
        warning: hsl(48, 100%, 67%),
        discrete: gray,
        success: hsl(141, 71%, 48%)
    ),
    color_palette_props: (
        normal: #333,
        error: red,
        warning: hsl(48, 100%, 67%),
        discrete: gray,
        success: hsl(141, 71%, 48%)
    ),
    color_grays: (
        gray_start: #f4f4f4,
        gray_end: #333333,
        gray_steps: 9
    )
);

$base-docs: (
    cfg-has-dimension-strict: "",
    CFG_HAS_DIMENSION_MIN: "",
    CFG_HAS_DIMENSION_MAX: "",
    grid_class_name: "",
    table_class_name: "",
    table_class_name_short: "",
    media_quey_sizes: "", 
    text_class_name_short: "",
    text_class_name: "",
    grid_class_name_short: "",
    menu_class_name: "",
    menu_class_name_short: "",
    color_schemes_props: "",
    color_palette_props: "",
    color_grays: "",
    size_step: "",
    sizes: ""
);
