$zindex-metadata: (
        title: zindex,
        tag: zI,
        description: "cssfabric zindex module to set z-index on all html elements",
);
$zindex-config: (
        z_groups: (
                a,
                z
        ),
);
$zindex-docs: (
        z_groups: _,
);
