 /*
* css-fabric 
* color system responsive
*/
@use "sass:map";
// load scss config file
@use '../../_utils'; 
@use 'color-build' as build; 
 // load general config variables
 $_cfg: utils.get_conf();

// media queries sizes, in em  
$_media_quey_sizes: map-get($_cfg, media_quey_sizes); 

// builder responsive  
$min_value: 0;

@each $mq_size_key,
$mq_size_value in $_media_quey_sizes {
    @include utils.responsive_encloser($mq_size_value,$min_value) {
        @include build.buildColor($mq_size_key);
    }
    $min_value: $mq_size_value;
} 
