@use '../../utils';

$_unit-config: rem;
$_border-unit-config: px;
$_unit-size-config: 0.25;
$_unit-border-size-config: 1;

$_sizes-config: 8;
$_sizes-border-config: 5;

$_border-shorthands: (
        t: top,
        b: bottom,
        l: left,
        r: right,
        all: top bottom left right,
        u: bottom left right,
        ii: left right,
        tb: top bottom
);

$_position-props: (
        abs: absolute,
        rel: relative,
        stat: static,
        fix: fixed,
        sticky: sticky
);

$_display-props: (
        block: block,
        none: none,
        inline: inline,
        block-inline: inline-block,
        flex-inline: inline-flex,
        tbl: table,
        tbl-row: table-row,
        tbl-cell: table-cell,
        tbl-column: table-column
);

$box-metadata: (
        title: "box",
        tag: "box",
        description: "cssfabric box module to set heights, paddings, margins and shadows on all html elements"
);

$box-config: (
        unit-config: $_unit-config,
        border-unit-config: $_border-unit-config,
        unit-size-config: $_unit-size-config,
        unit-border-size-config: $_unit-border-size-config,
        sizes-config: $_sizes-config,
        border-sizes-px-config: 5,
        position-shorthand-config: pos,
        display-shorthand-config: dsp,
        shadow-shorthand-config: shad,
        border-shorthand-config: border,
        padding-shorthand-config: pad,
        margin-shorthand-config: marg,
        cssProps:(
                borderShorthands: $_border-shorthands,
                positionProps: $_position-props,
                displayProps: $_display-props
        )
);

$box-docs: (
        attributes:(
                padding: (
                        tag: map-get($box-config, padding-shorthand-config),
                        keys: utils.getObjectKeys($_border-shorthands),
                        levels: utils.getObjectKeys(utils.getBoxIterator($_sizes-config, $_unit-config, $_unit-size-config)),
                        about: "padding properties for html elements"
                ),
                margin: (
                        tag: map-get($box-config, margin-shorthand-config),
                        keys: utils.getObjectKeys($_border-shorthands),
                        levels: utils.getObjectKeys(utils.getBoxIterator($_sizes-config, $_unit-config, $_unit-size-config)),
                        about: "margin properties for html elements"
                ),
                border: (
                        tag: map-get($box-config, border-shorthand-config),
                        keys: utils.getObjectKeys($_border-shorthands),
                        levels: utils.getObjectKeys(utils.getBoxIterator($_sizes-border-config, $_border-unit-config, $_unit-border-size-config)),
                        about: "border properties for html elements"
                ),
                shadow: (
                        tag: map-get($box-config, shadow-shorthand-config),
                  // keys: utils.getObjectKeys($_border-shorthands),
                  //levels: (10 25 69 745 41214),
                        about: "applying shadows give levels to your design"
                )
        ));
