@use '../../utils';

$_unit-config: rem;
$_border-unit-config: px;
$_unit-size-config: 0.5;
$_unit-border-size-config: 1;

$_sizes-config: 32;
$_sizes-border-config: 5;

$_shadows-steps: 5;
$_shadows-step-multiplier: 2;

$_shadows-v_fact: 2.4;
$_shadows-h_fact: 1.16;

$_shadows-v_fact_2: 13.1;
$_shadows-h_fact_2: 4.3;

$shadow-factors: (
        v_fact:$_shadows-v_fact,
        h_fact:$_shadows-h_fact,
        v_fact_2:$_shadows-v_fact_2,
        h_fact_2:$_shadows-h_fact_2,
);

$_border-shorthands: (
        _: top bottom left right,
        t: top,
        b: bottom,
        l: left,
        r: right,
        all: top bottom left right,
        u: bottom left right,
        ii: left right,
        tb: top bottom
);

$_position-props: (
        abs: absolute,
        rel: relative,
        stat: static,
        fix: fixed,
        sticky: sticky
);

$_display-props: (
        block: block,
        none: none,
        inline: inline,
        block-inline: inline-block,
        flex-inline: inline-flex,
        tbl: table,
        tbl-row: table-row,
        tbl-cell: table-cell,
        tbl-column: table-column
);

$box-metadata: (
        title: "box",
        tag: "box",
        description: "cssfabric box module to set heights, paddings, margins and shadows on all html elements"
);

$box-config: (
        unit-config: $_unit-config,
        border-unit-config: $_border-unit-config,
        unit-size-config: $_unit-size-config,
        unit-border-size-config: $_unit-border-size-config,
        sizes-config: $_sizes-config,
        border-sizes-px-config: 5,
        shadows-steps: $_shadows-steps,
        shadows_step_multiplier: $_shadows-step-multiplier,
  //
        position-shorthand-config: pos,
        display-shorthand-config: dsp,
        shadow-shorthand-config: shad,
        border-shorthand-config: border,
        padding-shorthand-config: pad,
        margin-shorthand-config: marg,
        cssProps:(
                borderShorthands: $_border-shorthands,
                positionProps: $_position-props,
                displayProps: $_display-props
        )
);


$box-docs: (
        attributes:(
                padding: (
                        tag: map-get($box-config, padding-shorthand-config),
                        keys: utils.getObjectKeys($_border-shorthands),
                        values: utils.getBoxIterator($_sizes-config, $_unit-config, $_unit-size-config),
                        levels: ("_":utils.getObjectKeys(utils.getBoxIterator($_sizes-config, $_unit-config, $_unit-size-config))),
                        about: "padding properties for html elements"
                ),
                margin: (
                        tag: map-get($box-config, margin-shorthand-config),
                        keys: utils.getObjectKeys($_border-shorthands),
                        values: utils.getBoxIterator($_sizes-config, $_unit-config, $_unit-size-config),
                        levels: ("_":utils.getObjectKeys(utils.getBoxIterator($_sizes-config, $_unit-config, $_unit-size-config))),
                        about: "margin properties for html elements"
                ),
                border: (
                        tag: map-get($box-config, border-shorthand-config),
                        keys: utils.getObjectKeys($_border-shorthands),
                        values: utils.getBoxIterator($_sizes-border-config, $_border-unit-config, $_unit-border-size-config),
                        levels: ("_":utils.getObjectKeys(utils.getBoxIterator($_sizes-border-config, $_border-unit-config, $_unit-border-size-config))),
                        about: "border properties for html elements"
                ),
                shadow: (
                        tag: map-get($box-config, shadow-shorthand-config),
                        values: utils.getShadowIterator($shadow-factors, 8),
                        levels:("_": utils.getObjectKeys(utils.getShadowIterator($shadow-factors, 8))
                        ),
                        about: "applying shadows give depth and levels to your design"
                )
        ));
