$config: (
  _cfg: (
    _metadata: (
      title: 'fabric.css.cfg',
      description: 'css-fabric global config variables'
    ),
    _data: (
      CFG_HAS_DIMENSION_STRICT: false,
      CFG_HAS_DIMENSION_MIN: false,
      CFG_HAS_DIMENSION_MAX: false,
      grid_class_name: grid,
      grid_separator: '-',
      grid_hor_code: h,
      grid_vert_code: v,
      table_class_name: table,
      table_class_name_short: tbl,
      media_quey_sizes: (
        sm: 35.5,
        md: 48,
        lg: 64,
        xl: 80,
        xxl: 120
      ),
      grid_ratios: (8, 24)
    )
  ),
  box: (
    _metadata: (
      title: 'fabric.css.box',
      description: 'css-fabric box module to set heights, paddings and margins on all html elements'
    ),
    _data: (
      box_unit: em,
      box_unit_size: 0.25,
      box_sizes: 8,
      box_css_props_shorthands: (
        border: brd,
        padding: pad,
        margin: marg
      ),
      box_border_shorthands: (
        t: top,
        b: bottom,
        l: left,
        r: right,
        all: top bottom left right,
        u: bottom left right,
        ii: left right,
        tb: top bottom
      ),
      box_position_props: absolute relative static fixed sticky,
      box_display_props: (block, none, inline, inline-block, inline-flex, table, table-row, table-cell, table-column, unset)
    )
  ),
  grid: (
    _metadata: (
      title: 'grid.css.box',
      description: 'css-fabric grid module'
    )
  ),
  input: (
    _metadata: (
      title: 'fabric.css.input',
      description: 'css-fabric form.input module to set styles on all input elements'
    ),
    _data: (
      input_size_unit: em,
      input_size: (
        tiny: 1,
        medium: 4,
        default: 8,
        large: 10,
        full: 100%,
        custom: 10
      ),
      input_type: (button, checkbox, color, date, datetime-local, email, file, hidden, image, month, number, password, Note, radio, range, reset, search, submit, tel, text, time, url),
      input_attr: (autocomplete, autofocus, disabled, readonly, required)
    ),
    _docs: (
      input_size_unit: 'input size in [input_size_unit]',
      input_size: 'input size presets'
    )
  ),
  overflow: (
    _metadata: (
      title: 'fabric.css.overflow',
      description: 'css-fabric overflow module to set overflow styles on all html elements'
    ),
    _data: (
      overflow_props: overflow overflow-x overflow-y,
      overflow_values: visible hidden clip scroll auto initial unset
    )
  ),
  scale: (
    _metadata: (
      title: 'fabric.css.scale',
      description: 'css-fabric scale module to set dimensions and ratios on all html elements'
    ),
    _data: (
      scale_size: 1em,
      scale_props: (
        width: w,
        height: h
      ),
      scale_css_values: (max-content, min-content, fit-content),
      scale_shorthands: (
        full: 100%,
        mid: 50%,
        quarter: 25%,
        tiers: 33%
      ),
      scale_defined_sizes: (1, 2, 4, 8, 16, 24, 32, 48, 64, 96, 128, 256),
      scale_grid_ratios: (8, 24)
    )
  ),
  table: (
    _metadata: (
      title: 'fabric.css.table',
      description: 'css-fabric table module to set different table styles'
    ),
    _data: (
      table_bg_color_head: #f4f4f4,
      table_bg_color_strip_main: #ededed,
      table_bg_color_strip_second: #f5f5f5,
      table_border_color_header: #ccc,
      table_border_color_main: #ededed,
      table_border_color_second: #f5f5f5
    )
  ),
  zindex: (
    _metadata: (
      title: 'fabric.css.zindex',
      description: 'css-fabric zindex module to set z-index on all html elements'
    ),
    _data: (
      z_groups: (a, b, c, d, e, f, g)
    )
  )
);
