@use "sass:map";
// load scss config file
@use '../../_utils';
@use 'color-vars';

$color-config: color-vars.$color-config;

// COLOR SCHEMES
$color_schemes: map-get($color-config, scheme);

// COLOR PALETTE
$color-palette: map-get($color-config, palette);

// COLOR THEME 
$color-theme: map-get($color-config, theme); 

// GRAYS
$gray-config: map-get($color-config, gray-config) !default;
$color-gray-start: map-get($gray-config, start) !default;
$color-gray-end: map-get($gray-config, end) !default;
$color-gray-steps: map-get($gray-config, steps) !default;

@function text-contrast($n) {
    $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);
    $color: black;

    @if abs($color-brightness) < ($light-color/2) {
        $color: white;
    }

    @return $color;
}
 
$gray_schemes: utils.getGraySteps($color-gray-steps,$color-gray-start,$color-gray-end);

@function applyColorEffect($named, $color) {
    $switch-named: map-get(
        (
            light: lighten($color, 30%),
            lighter: lighten($color, 30%),
            dark: lighten($color, 30%),
            darker: lighten($color, 30%),
            complement: complement($color),
            invert: invert($color)
        ),
        $named
    );

    @return $switch-named;
}

@mixin colorFactory($tag_short, $color_prop) {
    $switch-tag_short: map-get(
        (
            color: color,
            bg: background-color,
            bg-theme: background-color
        ),
        $tag_short
    );

    @each $colorTint in light lighter dark darker complement invert {
        $newColor: applyColorEffect($colorTint, $color_prop);

        &-#{$colorTint} {
            @if $tag_short== "bg-theme" {
                color: text-contrast($newColor);
            }
            #{$switch-tag_short}: $newColor;
        }
    }
}

@mixin fabricColors($type, $tag_short, $mq_key, $has_color_factory) {
    $switch-tag_short: map-get(
        (
            color: color,
            bg: background-color,
            bg-theme: background-color
        ),
        $tag_short
    );

    $prop: "";

    $property_key: #{$tag_short}+ if($mq_key, -#{$mq_key}, "");

    .#{$property_key} {
        @each $color_key, $color_prop in $type {
            &#{"-" + $color_key} {
                @if $tag_short==color {
                    color: $color_prop;
                    @if $has_color_factory {
                        @include colorFactory($tag_short, $color_prop);
                    }
                }

                @if $tag_short==bg {
                    background-color: $color_prop;
                    @if $has_color_factory {
                        @include colorFactory($tag_short, $color_prop);
                    }
                }

                @if $tag_short== "bg-theme" {
                    color: text-contrast($color_prop);
                    text-shadow: 0 0 0.125rem applyColorEffect("dark", $color_prop);
                    background-color: $color_prop;
                    @if $has_color_factory {
                        @include colorFactory($tag_short, $color_prop);
                    }
                }
            }
        }
    }
} 

@mixin buildColor($mq_size_key) {
    @each $key in color bg bg-theme {
        @include fabricColors($color-palette, $key, $mq_size_key, true);
        @include fabricColors($color_schemes, $key, $mq_size_key, null);
        @include fabricColors($gray_schemes, $key, $mq_size_key, null);
    }
}
