@use "sass:map";
@use 'color-vars';
@use "sass:math";
// load scss config file
@use '../../_utils';
@use '../cssfabric-config';

$color-config: color-vars.$color-config;

// COLOR TYPES
$color-types-config: map-get($color-config, color-types-config);
// COLOR SCHEMES
$color-schemes: map-get($color-config, scheme) !default;
// COLOR PALETTE
$color-palette: map-get($color-config, palette) !default;
// COLOR THEME 
$color-theme: map-get($color-config, theme) !default;


// GRAYS
$color-gray-start: cssfabric-config.$gray-start !default;
$color-gray-end: cssfabric-config.$gray-end !default;
$color-gray-steps: cssfabric-config.$gray-steps !default;
$gray-schemes: utils.getGraySteps($color-gray-steps, $color-gray-start, $color-gray-end);

@function text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) +  math.div(blue(#ffffff) * 114, 1000));
  $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + math.div(blue(#ffffff) * 114, 1000));
  $color: black;

  @if abs($color-brightness) < math.div($light-color,2) {
    $color: white;
  }

  @return $color;
}

@mixin buildColorCssVars() {

  /* color-scheme primary secondary tertiary */
  @each $type-key, $type-prop in $color-schemes {
    --color-scheme-#{$type-key} : #{$type-prop};
    --color-scheme-#{$type-key}-light: #{utils.applyColorEffect('light',$type-prop)};
    --color-scheme-#{$type-key}-dark: #{utils.applyColorEffect('dark',$type-prop)};
    @include utils.alphaTize(--color-scheme-#{$type-key}, $type-prop);
  }

  /* color-palette */
  @each $type-key, $type-prop in $color-palette {
    --color-palette-#{$type-key} : #{$type-prop};
    @include utils.alphaTize(--color-palette-#{$type-key}, $type-prop);

    --color-palette-#{$type-key}-lighter: #{utils.applyColorEffect('lighter',$type-prop)};
    --color-palette-#{$type-key}-light: #{utils.applyColorEffect('light',$type-prop)};
    --color-palette-#{$type-key}-dark: #{utils.applyColorEffect('dark',$type-prop)};
    --color-palette-#{$type-key}-darker: #{utils.applyColorEffect('darker',$type-prop)};

    --color-palette-#{$type-key}-complement: #{utils.applyColorEffect('complement',$type-prop)};
    @include utils.alphaTize(--color-palette-#{$type-key}-complement, utils.applyColorEffect('complement', $type-prop));

    --color-palette-#{$type-key}-invert: #{utils.applyColorEffect('invert',$type-prop)};
    @include utils.alphaTize(--color-palette-#{$type-key}-invert, utils.applyColorEffect('invert', $type-prop));
    // backdrop-filter: blur(5px);
  }

  /* grays */
  @each $type-key, $type-prop in $gray-schemes {
    --color-gray-#{$type-key} : #{$type-prop};
    @include utils.alphaTize(--color-gray-#{$type-key}, $type-prop);
  }
}

@mixin colorFactory($tag_short, $color_prop) {
  $switch-tag_short: utils.getColorPropertyType($tag_short);

  @each $colorTint in (light lighter dark darker complement invert) {

    $newColor: utils.applyColorEffect($colorTint, $color_prop);

    &-#{$colorTint} {
      @if $tag_short== "bg-themed" {
        color: text-contrast($newColor);
      }
      #{$switch-tag_short}: $newColor;
    }
  }
}

@mixin fabricColors($color-type,$color-type-list, $color-type-key, $mq-key, $has-color-factory:null) {

  $switch-tag_short: utils.getColorPropertyType($color-type-key);

  $prop: "";

  $property_key: #{$color-type-key}-#{$color-type} + if($mq-key, -#{$mq-key}, "");
  /**
  #{$color-type-key} ?
   */
  .#{$property_key} {
    @each $type-key, $type-prop in $color-type-list {
      &#{"-" + $type-key} {

        // border-color: ;
        @if $color-type-key==border-color {
          border-color: utils.applyColorEffect('dark', $type-prop) !important;
        }

        @if $color-type-key==color { // nope for gray
          color: $type-prop;
          @if $has-color-factory {
            @include colorFactory($color-type-key, $type-prop);
          }
        }

        @if $color-type-key==bg {
          background-color: $type-prop;
          @if $has-color-factory {
            @include colorFactory($color-type-key, $type-prop);
          }
        }

        @if $color-type-key == "bg-themed" {
          color: text-contrast($type-prop);
          text-shadow: 0 0 0.125rem utils.applyColorEffect("dark", $type-prop);
          background-color: $type-prop;
          @if $has-color-factory {
            @include colorFactory($color-type-key, $type-prop);
          }
        }
      }
    }
  }
}

@mixin buildColor($mq_size_key:null) {
  @each $color-type-key in $color-types-config {
    @include fabricColors("palette", $color-palette, $color-type-key, $mq_size_key, true);
    @include fabricColors("scheme", $color-schemes, $color-type-key, $mq_size_key);
    @include fabricColors("grey", $gray-schemes, $color-type-key, $mq_size_key);
  }
}
