@use '../../_loader';
@use '../../utils';

$_color-types-config: (color bg bg-themed);

$color-metadata: (
        title: color,
        title_tag: "its about colors",
        description: "cssfabric color system: its about colors"
);
$color-config: (
        gray-config: loader.getFabricSharedParams(gray-config),
        color-types-config: $_color-types-config,
        theme: loader.getFabricSharedParams(theme),
        scheme: loader.getFabricSharedParams(scheme),
        palette: loader.getFabricSharedParams(palette),
        gray: loader.getFabricSharedParams(gray)
);

$color-docs: (
        attributes:(
                color:(
                        tag: color,
                        keys:  (theme scheme palette gray),
                        levels: (
                                theme: utils.getObjectKeys(loader.getFabricSharedParams(theme)),
                                scheme: utils.getObjectKeys(loader.getFabricSharedParams(scheme)),
                                palette: utils.getObjectKeys(loader.getFabricSharedParams(palette)),
                                gray: utils.getObjectKeys(loader.getFabricSharedParams(gray))
                        ),
                        about: "color for text level html elements"
                ),
                background-color:(
                        tag: bg,
                        about: "background colors"),
                levels: (
                        theme: utils.getObjectKeys(loader.getFabricSharedParams(theme)),
                        scheme: utils.getObjectKeys(loader.getFabricSharedParams(scheme)),
                        palette: utils.getObjectKeys(loader.getFabricSharedParams(palette)),
                        gray: utils.getObjectKeys(loader.getFabricSharedParams(gray))
                ),
                background-themed:(
                        tag: "bg-themed",
                        about: "same as background-color, but with added contrasted color to text",
                        levels: (
                                theme: utils.getObjectKeys(loader.getFabricSharedParams(theme)),
                                scheme: utils.getObjectKeys(loader.getFabricSharedParams(scheme)),
                                palette: utils.getObjectKeys(loader.getFabricSharedParams(palette)),
                                gray: utils.getObjectKeys(loader.getFabricSharedParams(gray))
                        ),
                )
        ),
        sharedKeys:(
                theme: utils.getObjectKeys(map-get($color-config, theme)),
                scheme: utils.getObjectKeys(map-get($color-config, scheme)),
                palette: utils.getObjectKeys(map-get($color-config, palette)),
                gray: utils.getObjectKeys(map-get($color-config, gray))
        ),
        sharedKeyValues:(
                theme: map-get($color-config, theme),
                scheme: map-get($color-config, scheme),
                palette: map-get($color-config, palette),
                gray: map-get($color-config, gray)
        )
);
