@use '../../_loader';

$color-metadata: (
	title: color,
	title_tag: "its about colors",
	description: description
);
$color-config: (
	gray-config: loader.getFabricSharedParams(gray-config),
	theme: loader.getFabricSharedParams(theme),
	scheme: loader.getFabricSharedParams(scheme),
	palette: loader.getFabricSharedParams(palette),
	gray: loader.getFabricSharedParams(gray)
);
$color-docs: ();  
 