$color-metadata: (
	title: color,
	title_tag: "its about colors",
	description: description
);
$color-config: (
    theme: (
        primary: orange,
        foreground: #333,
        background: #ededed
    ),
	scheme: (
		info: yellow,
		alert: orange,
		error: red,
		warning: hsl(48, 100%, 67%),
		discrete: gray,
		success: hsl(141, 71%, 48%)
	),
	palette: (
		yellow: #ffb900,
		orange: #d83b01,
		red: #d13438,
		magenta: #b4009e,
		purple: #5c2d91,
		green: #107c10,
		teal: #008272,
		blue: #0078d4
	),
	gray: (
		start: #f4f4f4,
		end: #333333,
		steps: 9
	)
);
$color-docs: (
 
);
