$cssfabric-metadata: (
    title: base,
    tag: base,
    description: "cssfabric global config variables"
);

$cssfabric-config: (
    cfg-has-dimension-strict: true,
    CFG_HAS_DIMENSION_MIN: true,
    CFG_HAS_DIMENSION_MAX: true,
    size_step: 0.25rem,
    sizes: (
        tiny: 32,
        small: 64,
        medium: 256,
        large: 250,
        full: 100%
    ),
    media_quey_sizes: (
        xxl: 140,
        xl: 80,
        lg: 64,
        md: 48,
        sm: 35.7
    ),
    color_theme: (
        primary: orange,
        foreground: #333,
        background: #ededed
    ),
    color_schemes_props:
    (
        info: yellow,
        alert: orange,
        error: red,
        warning: hsl(48, 100%, 67%),
        discrete: gray,
        success: hsl(141, 71%, 48%)
    ),
    color_palette_props: (
        yellow: #ffb900,
        orange: #d83b01,
        red: #d13438,
        magenta: #b4009e,
        purple: #5c2d91,
        green: #107c10,
        teal: #008272,
        blue: #0078d4
    ),
    color_grays: (
        gray_start: #f4f4f4,
        gray_end: #333333,
        gray_steps: 9
    )
);

$cssfabric-docs: (
    cfg-has-dimension-strict: "",
    CFG_HAS_DIMENSION_MIN: "",
    CFG_HAS_DIMENSION_MAX: "",
    grid_class_name: "",
    table_class_name: "",
    table_class_name_short: "",
    media_quey_sizes: "",
    text_class_name_short: "",
    text_class_name: "",
    grid_class_name_short: "",
    menu_class_name: "",
    menu_class_name_short: "",
    color_schemes_props: "",
    color_palette_props: "",
    color_grays: "",
    size_step: "",
    sizes: ""
);
