@use "sass:map";
@use "sass:math";

// prefix ?
// scoped ?

// dimensions

// border-color
$has-border-color-theme: true;
$has-border-color-theme-responsive: true;
$has-border-color-scheme: true;
$has-border-color-scheme-responsive: true;
$has-border-color-palette: true;
$has-border-color-palette-responsive: true;
$has-border-color-gray: true;
$has-border-color-gray-responsive: true;
// grays
$has-color-gray: true;
$has-color-gray-responsive: true;
// text
$has-text-transform: true;
$has-text-transform-responsive: false;
$has-text-align: true;
$has-text-align-responsive: false;
$has-text-font: true;
$has-text-font-responsive: false;
$has-text-shadow-color-scheme: true;
$has-text-shadow-color-scheme-responsive: false;
$has-text-shadow-color-palette: true;
$has-text-shadow-color-palette-responsive: false;

// color
$has-color-theme: true;
$has-color-theme-responsive: true;
// background-color-theme
$has-background-color-theme: true;
$has-background-color-theme-responsive: true;
// background-color-scheme
$has-background-color-scheme: true;
$has-background-color-scheme-responsive: true;
// background-color-palette
$has-background-color-palette: true;
$has-background-color-palette-responsive: true;
// density

$theme-color-primary: rgb(67, 23, 0) !default;
$theme-color-secondary: #D14B02 !default;
$theme-color-tertiary: #88D102 !default;

$theme-color-foreground: #282230 !default;
$theme-color-background: #ffffff !default;
$theme-color-paper: #f1f1f1 !default;

$theme-dark-color-foreground: #f1f1f1 !default;
$theme-dark-color-background: #27323a !default;
$theme-dark-color-paper: #3a3b3b !default;

$gray-start: #f4f4f4 !default;
$gray-end: #999 !default;
$gray-steps: 5 !default;

$cssfabric-metadata: (
        title: "cssfabric",
        tag: "cssfabric",
        description: "cssfabric global config variables"
);

$cssfabric-config: (
        cfg-has-dimension-strict: true,
        CFG_HAS_DIMENSION_MIN: true,
        CFG_HAS_DIMENSION_MAX: true,
        size_step: 0.5rem,
        sep: "-",
        sizes: (
                tiny: 32,
                small: 64,
                medium: 128,
                large: 256,
                full: 100%
        ),
        media_quey_sizes: (
                xxl: 1300,
                xl: 1200,
                lg: 960,
                md: 760,
                sm: 0
        ),
        themes:(
                light:(
                        foreground: #282230,
                        background: #f1f1f1,
                        paper: #ededed
                ),
                dark:(
                        foreground: #f1f1f1,
                        background: #27323a,
                        paper: #3a3b3b
                ),
        ),
        theme: (
                primary: $theme-color-primary,
                secondary: $theme-color-secondary,
                tertiary: $theme-color-tertiary,
                foreground: $theme-color-foreground,
                background: $theme-color-background,
        ),
        scheme: (
                discrete: #ccc,
                success: green,
                info: hsl(48, 100%, 67%),
                warning: hsl(48, 96%, 46%),
                alert: hsl(27, 100%, 50%),
                error: red
        ),
        palette: (
                yellow: #ffb900,
                orange: #d83b01,
                red: #d13438,
                magenta: #b4009e,
                purple: #5c2d91,
                green: #107c10,
                teal: #008272,
                blue: #0078d4,
                dark: #323232,
        ),
        border-radius:(
                tiny:4px, small:8px, medium:16px
        ),
        gray: getGraySteps($gray-steps, $gray-start, $gray-end),
        gray-config: (
                start: $gray-start,
                end: $gray-end,
                steps: $gray-steps
        )
);

@function getGraySteps($steps, $gray-start, $gray-end) {
  $gray-schemes: ();

  @for $i from 0 through $steps {

    $color: mix($gray-end, $gray-start, math.div($i , $steps) * 100%);

    $gray-schemes: map.set($gray-schemes, #{($i+1) * 100}, $color);
  }
  @debug $gray-schemes;

  @return $gray-schemes;
}

$cssfabric-docs: ();
