@use "sass:map";
@use "sass:math";

$cssfabric-metadata: (
        title: "cssfabric",
        tag: "cssfabric",
        description: "cssfabric global config variables"
);

$cssfabric-config: (
        cfg-has-dimension-strict: true,
        CFG_HAS_DIMENSION_MIN: true,
        CFG_HAS_DIMENSION_MAX: true,
        size_step: 0.5rem,
        sep: "-",
        sizes: (
                tiny: 32,
                small: 64,
                medium: 128,
                large: 256,
                full: 100%
        ),
        media_quey_sizes: (
                xxl: 1300,
                xl: 1200,
                lg: 960,
                md: 760,
                sm: 0
        ),
        themes:(
                light:(
                        foreground: #282230,
                        background: #f1f1f1,
                        paper: #ededed
                ),
                dark:(
                        foreground: #f1f1f1,
                        background: #27323a,
                        paper: #3a3b3b
                ),
        ),
        theme: (
                primary: #0288d1,
                secondary: #D14B02,
                tertiary: #88D102,
                foreground: #282230,
                background: #f1f1f1,
        ),
        scheme: (
                discrete: #ccc,
                success: green,
                info: hsl(48, 100%, 67%),
                warning: hsl(48, 96%, 46%),
                alert: hsl(27, 100%, 50%),
                error: red
        ),
        palette: (
                yellow: #ffb900,
                orange: #d83b01,
                red: #d13438,
                magenta: #b4009e,
                purple: #5c2d91,
                green: #107c10,
                teal: #008272,
                blue: #0078d4,
                dark: #323232,
        ),
        border-radius:(
                tiny:4px, small:8px, medium:16px
        ),
        gray: getGraySteps(8, #f4f4f4, #999),
        gray-config: (
                start: #f4f4f4,
                end: #999,
                steps: 8
        )
);

@function getGraySteps($steps, $gray-start, $gray-end) {
  $gray-schemes: ();

  @for $i from 0 through $steps {

    $color: mix($gray-end, $gray-start, math.div($i , $steps) * 100%);

    $gray-schemes: map.set($gray-schemes, #{($i+1) * 100}, $color);
  }
  @debug $gray-schemes;

  @return $gray-schemes;
}

$cssfabric-docs: ();
