@use '../../utils';


$_cssProps: (
        size: (
                full: 100%,
                mid: 50%,
                quarter: 25%,
                tiers: 33%
        ),
        content:(
                content-max: max-content,
                content-min: min-content
        ),
        defined-steps: (
                1,
                2,
                4,
                8,
                16,
                24,
                32,
                48,
                64
        )
);

$scale-metadata: (
        title: scale,
        tag: scale,
        description: "cssfabric scale module to set dimensions and ratios on all html elements"
);

$scale-config: (
        weight-config: 1em,
        unit-tag-config: (
                width: w,
                height: h
        ),
        grid-ratios-config: (
                5,
                12
        ),
        defined-step-size: 2,
        defined-step-unit: rem,
        defined-steps: (
                1,
                2,
                4,
                8,
                16,
                24,
                32,
                48,
                64
        ),
        cssProps:$_cssProps
);


$scale-docs: (
        attributes:(
                scale: (
                        tag: scale,
                        keys: (w , h),
                        levels: 134
                ),
                width:(
                        tag: w,
                        keys: (vild fro),
                        levels:(
                                _size : utils.getObjectKeys(map-get($_cssProps, size)),
                                _content: utils.getObjectKeys(map-get($_cssProps, content)),
                                _defined-steps: utils.getObjectKeys(map-get($_cssProps, defined-steps)),
                                _grid-5: utils.getObjectKeys(utils.cssDimensionPropertyBuilder(h, 5)),
                                _grid-12: utils.getObjectKeys(utils.cssDimensionPropertyBuilder(h, 12))
                        )
                ),
                height:(
                        tag: h,
                        levels:(
                                _size : utils.getObjectKeys(map-get($_cssProps, size)),
                                _content: utils.getObjectKeys(map-get($_cssProps, content)),
                                _defined-steps: utils.getObjectKeys(map-get($_cssProps, defined-steps)),
                                _dubide: utils.getObjectKeys(utils.cssDimensionPropertyBuilder(h, 5)),
                                _dubidou: utils.getObjectKeys(utils.cssDimensionPropertyBuilder(h, 12))
                        )
                )
        )
);
