$scale-metadata: (
        title: scale,
        tag: scale,
        description: "cssfabric scale module to set dimensions and ratios on all html elements"
);
$scale-config: (
        weight-config: 1em,
        unit-tag-config: (
                width: w,
                height: h
        ),
        grid-ratios-config: (
                8,
                24
        ),
        defined-step-size: 2,
        defined-step-unit: rem,
        defined-steps: (
                1,
                2,
                4,
                8,
                16,
                24,
                32,
                48,
                64
        ),
        cssProps:(
                size: (
                        full: 100%,
                        mid: 50%,
                        quarter: 25%,
                        tiers: 33%
                ),
                content:(
                        content-max: max-content,
                        content-min: min-content
                )
        )
);
$scale-docs: (
);
