/*
 css_fabric flex_box system
*/
.grid-v, .grid-h {
  display: flex;
}

.grid-h {
  flex-direction: row;
}
.grid-h > .grid-main {
  flex: 1 1 0;
  width: 100%;
  max-width: 100%;
}

.grid-v {
  flex-direction: column;
}
.grid-v > .grid-main {
  flex: 1 1 0;
  max-height: 100%;
}

.grid-h,
.grid-v {
  box-sizing: border-box;
}
.grid-h.grid-wrap-reverse,
.grid-v.grid-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.grid-h.grid-wrap,
.grid-v.grid-wrap {
  flex-wrap: wrap;
}
.grid-h.grid-nowrap,
.grid-v.grid-nowrap {
  flex-wrap: nowrap;
}
.grid-h > *,
.grid-v > * {
  box-sizing: border-box;
}
.grid-h > *:not(.grid-main),
.grid-v > *:not(.grid-main) {
  flex: 0 0 auto;
}
.grid-h.grid-inline,
.grid-v.grid-inline {
  display: inline-flex !important;
}
.grid-h.grid-overflow,
.grid-v.grid-overflow {
  overflow: auto;
}
.grid-h.grid-no-overflow,
.grid-v.grid-no-overflow {
  overflow: hidden;
}
.grid-h.grid-grow-1,
.grid-v.grid-grow-1 {
  flex-grow: 1;
}
.grid-h.grid-shrink-1,
.grid-v.grid-shrink-1 {
  flex-shrink: 1;
}
.grid-h.grid-grow-2,
.grid-v.grid-grow-2 {
  flex-grow: 2;
}
.grid-h.grid-shrink-2,
.grid-v.grid-shrink-2 {
  flex-shrink: 2;
}
.grid-h.grid-grow-3,
.grid-v.grid-grow-3 {
  flex-grow: 3;
}
.grid-h.grid-shrink-3,
.grid-v.grid-shrink-3 {
  flex-shrink: 3;
}
.grid-h.grid-grow-4,
.grid-v.grid-grow-4 {
  flex-grow: 4;
}
.grid-h.grid-shrink-4,
.grid-v.grid-shrink-4 {
  flex-shrink: 4;
}

/* justify content rules */
.grid-h.just-start,
.grid-v.just-start {
  justify-content: flex-start;
}
.grid-h.just-center,
.grid-v.just-center {
  justify-content: center;
}
.grid-h.just-end,
.grid-v.just-end {
  justify-content: flex-end;
}
.grid-h.just-between,
.grid-v.just-between {
  justify-content: space-between;
}
.grid-h.just-equal,
.grid-v.just-equal {
  justify-content: space-evenly;
}

/* align-items rules */
.grid-h.items-baseline,
.grid-v.items-baseline {
  align-items: baseline;
}
.grid-h.items-stretch,
.grid-v.items-stretch {
  align-items: stretch;
}
.grid-h.items-start,
.grid-v.items-start {
  align-items: flex-start;
}
.grid-h.items-center,
.grid-v.items-center {
  align-items: center;
}
.grid-h.items-end,
.grid-v.items-end {
  align-items: flex-end;
}

/* align-content rules */
.grid-h.content-start,
.grid-v.content-start {
  align-content: flex-start;
}
.grid-h.content-end,
.grid-v.content-end {
  align-content: flex-end;
}
.grid-h.content-between,
.grid-v.content-between {
  align-content: space-between;
}
.grid-h.content-stretch,
.grid-v.content-stretch {
  align-content: stretch;
}
.grid-h.content-center,
.grid-v.content-center {
  align-content: center;
}

/* align-self rules */
.grid-h .self_auto,
.grid-v .self_auto {
  align-self: auto;
}
.grid-h .self_start,
.grid-v .self_start {
  align-self: flex-start;
}
.grid-h .self_end,
.grid-v .self_end {
  align-self: flex-end;
}
.grid-h .self_center,
.grid-v .self_center {
  align-self: center;
}
.grid-h .self_baseline,
.grid-v .self_baseline {
  align-self: baseline;
}
.grid-h .self_stretch,
.grid-v .self_stretch {
  align-self: stretch;
}
