/*
* css-fabric 
* text size and transform system
*/
@use "sass:map";
// load scss config file
@use '../../_utils';
// load general config variables
$_cfg: utils.get_conf();
// load local config variables
$_base: utils.get_conf_data(base);

p {
    margin: auto;
}




.hover-parent {
    .hover-show {
        display: none;
    }

    .hover-hide {
        display: initial;
    }

    &:hover {
        .hover-show {
            display: initial;
        }

        .hover-hide {
            display: none;
        }
    }

}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}
