/* @use '../vars' ; */
 
$CFG_HAS_STRICT: false;
$CFG_HAS_MIN: false;
$CFG_HAS_MAX: false;
/*
 css_fabric dimensions system
*/
// media queries sizes, in em
$mq_sizes: (
  sm: 35.5,
  md: 48,
  lg: 64,
  xl: 80,
  xxl: 120,
);
// dimensions declaration
$dimension_size: 1em;
$dimension_props: (
  width: w,
  height: h,
);
$dimensions_css_values: max-content min-content fit-content;
$dimensions_shorthands: (
  "full": 100%,
  "mid": 50%,
  "quarter": 25%,
  "tiers": 33%,
);
$dimensions_defined_sizes: 1, 2, 4, 8, 16, 24, 32, 48, 64, 96, 128, 256; // in em
$dimensions_grid_ratios: 8 24; // in %

/// css dimensions rules builder
@mixin css_dimension_property_builder(
  $dimension_prop,
  $size_code,
  $size_value,
  $media_query_code 
) {
  //
  $dimension_prop_short: map-get($dimension_props, $dimension_prop);
  //$property_name: if($media_query_code,#{$dimension_prop_short}-#{$media_query_code}-#{$size_code},#{$dimension_prop_short}-#{$size_code});
  /*  dimension : "-#{$size_code}" shorthand is #{$size_value} #{$dimension_prop}*/
  $tag: if(
    $media_query_code,
    #{$dimension_prop_short}-#{$media_query_code}-#{$size_code},
    #{$dimension_prop_short}-#{$size_code}
  );
  .#{$tag} {
    #{$dimension_prop}: $size_value;

    @if ($CFG_HAS_MAX) {
      &-max {
        max-#{$dimension_prop}: $size_value;
      }
    }
    @if ($CFG_HAS_MIN) {
      &-min {
        min-#{$dimension_prop}: $size_value;
      }
    }
    @if ($CFG_HAS_STRICT) {
      &-strict {
        #{$dimension_prop}: $size_value;
        max-#{$dimension_prop}: $size_value;
        min-#{$dimension_prop}: $size_value;
      }
    }
  }
}
/// css dimensions rules builder responsive
@mixin css_dimension_property_responsive_builder(
  $mq_size_key,
  $mq_size_value,
  $dimension_prop
) {
  // shorthand naked
  @media only screen and (min-width: $mq_size_value + em) {
    @content;
  }
}

// loop on shorthands
@mixin play_shorthand_loop($dimension_prop, $mq_size_key) {
  @each $dimensions_shorthand,
    $dimensions_shorthand_value in $dimensions_shorthands
  {
    @include css_dimension_property_builder(
      $dimension_prop,
      $dimensions_shorthand,
      map-get($dimensions_shorthands, $dimensions_shorthand),
      $mq_size_key
    );
  }
}

// loop on dimensions
@mixin play_dimensions_loop($dimension_prop, $mq_size_key) {
  // loop on dimensions
  @each $dimension_css_value in $dimensions_css_values {
    @include css_dimension_property_builder(
      $dimension_prop,
      $dimension_css_value,
      $dimension_css_value,
      $mq_size_key
    );
  }
}

// loop on defined dimensions
@mixin play_defined_dimensions_loop($dimension_prop, $mq_size_key) {
  // loop on defined dimensions
  @each $dimensions_defined_size in $dimensions_defined_sizes {
    @include css_dimension_property_builder(
      $dimension_prop,
      $dimensions_defined_size,
      $dimensions_defined_size + em,
      $mq_size_key
    );
  }
}

// loop on ratio dimensions
@mixin play_ratio_dimensions_loop($dimension_prop, $mq_size_key) {
  // loop on ratio dimensions
  @each $dimensions_grid_ratio in $dimensions_grid_ratios {
    @for $z_value from 1 through $dimensions_grid_ratio {
      @include css_dimension_property_builder(
        $dimension_prop,
        $z_value + "-" + $dimensions_grid_ratio,
        (($z_value / $dimensions_grid_ratio) * 100) + \%,
        $mq_size_key
      );
    }
  }
}

$mq_size_key: null;
@each $dimension_prop, $dimension_prop_short in $dimension_props {
  // loop on shorthands
  @include play_shorthand_loop($dimension_prop, null);
  // loop on responsive shorthands
  @each $mq_size_key, $mq_size_value in $mq_sizes {
    @include css_dimension_property_responsive_builder(
      $mq_size_key,
      $mq_size_value,
      $dimension_prop
    ) {
      @include play_shorthand_loop($dimension_prop, $mq_size_key);
    }
  }

  // loop on dimensions
  @include play_dimensions_loop($dimension_prop, null);
  // loop on responsive dimensions
  @each $mq_size_key, $mq_size_value in $mq_sizes {
    @include css_dimension_property_responsive_builder(
      $mq_size_key,
      $mq_size_value,
      $dimension_prop
    ) {
      @include play_dimensions_loop($dimension_prop, $mq_size_key);
    }
  }

  // loop on defined dimensions
  @include play_defined_dimensions_loop($dimension_prop, null);
  // loop on responsive defined dimensions
  @each $mq_size_key, $mq_size_value in $mq_sizes {
    @include css_dimension_property_responsive_builder(
      $mq_size_key,
      $mq_size_value,
      $dimension_prop
    ) {
      @include play_defined_dimensions_loop($dimension_prop, $mq_size_key);
    }
  }

  // loop on ratio dimensions
  @include play_ratio_dimensions_loop($dimension_prop, null);
  // loop on responsive ratio dimensions
  @each $mq_size_key, $mq_size_value in $mq_sizes {
    @include css_dimension_property_responsive_builder(
      $mq_size_key,
      $mq_size_value,
      $dimension_prop
    ) {
      @include play_ratio_dimensions_loop($dimension_prop, $mq_size_key);
    }
  }
}
